# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="5z2HiSIHCL6XtZ7gsYEtGp8NpuVZzuXtWLKLt0MlShw="  # no es necesario cambiarlo

# Liveblocks (for real-time collaboration) obtener de la pagina de liveblocks
LIVEBLOCKS_PUBLIC_KEY="pk_dev_g9Q2mQunVLnk-X4h3aHodmdN0Z-PykF6Mytyt7qLiZooQ8FA7MeXGToTDQFG8mFoF"  
LIVEBLOCKS_SECRET_KEY="sk_dev_k_9zgcEmbvRHkktenInn-bc-Ylplf7_Lfidfgdsr__ev55fQCfutC5f0MrAXjMiYW"


# credenciales de datos en postgresql
DATABASE_URL="postgresql://postgres:1666@localhost:5432/generator_db"

#Gemini API_KEY
NEXT_PUBLIC_GEMINI_API_KEY="AIzaSyDUc5Z2_YgEovKsdffdIvA0CNlhQIM3eywBIE"
GEMINI_API_KEY="AIzaSyDUc5Z2_YgEovKKyIvA0CtyrtyhQIM3eywBIE"




# como correr el proyecto 
# 1. npm install
# 2. npm run db:push   // para crear la base de datos
# 3. npm run db:studio  // para abrir prisma studio
# 4. npm run dev  // para correr el proyecto


#RECOMENDACIONES
# 1. usar camelcase para el nombre de las clases ej  :  Persona, DetalleVenta
# 2. no usar la letra Ñ en ninguna parte